# AWS EC2 dynamic inventory
plugin: aws_ec2
regions:
  - ap-southeast-1

# Use tags to create groups.
keyed_groups:
  - key: "tags['spark-cluster']"
    prefix: spark

hostnames:
  - "tag:Name"

# Use the public IP address for connections.
compose:
  ansible_host: public_ip_address