- name: Configure Common Dependencies
  hosts: all
  become: yes
  roles:
    - common

- name: Configure Spark Master
  hosts: spark_master
  become: yes
  roles:
    - spark-master

- name: Configure Spark Workers
  hosts: spark_worker
  become: yes
  roles:
    - spark-worker