- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Java and Scala
  apt:
    name:
      - openjdk-11-jre-headless
      - scala
    state: present

- name: Download and unarchive Spark
  unarchive:
    src: https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
    dest: /opt/
    remote_src: yes
    creates: /opt/spark-3.5.0-bin-hadoop3

- name: Create symlink for Spark
  file:
    src: /opt/spark-3.5.0-bin-hadoop3
    dest: /opt/spark
    state: link

- name: Set Spark environment variables
  template:
    src: spark-env.sh.j2
    dest: /etc/profile.d/spark.sh
    mode: '0755'